<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318837877708-7t3jdjm33v5tb9n3dbl681l1gg371tup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318837877708-7t3jdjm33v5tb9n3dbl681l1gg371tup</string>
	<key>API_KEY</key>
	<string>AIzaSyBLTm4r92Cg-hTCLB_nrra5ifpygN2wjlw</string>
	<key>GCM_SENDER_ID</key>
	<string>318837877708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireBaseEvento</string>
	<key>PROJECT_ID</key>
	<string>prueba-438c5</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-438c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318837877708:ios:83f8ee7de83c9801ab4b69</string>
</dict>
</plist>